<!DOCTYPE html>
<html>
    <head>
        <title>User Profile</title>
        <link rel="stylesheet" type="text/css" href="../public/CSS/Home_CSS.css" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    </head>
    
    <body id="body-start">
        <%- include("./partials/header") -%>
        <!-- About start -->
        
        <!-- About end -->
    <%- include("./partials/footer") -%>
    
</html>
