<!DOCTYPE html>
<html>
    <head>
        <title>User Profile</title>
        <link rel="stylesheet" type="text/css" href="../public/CSS/Home_CSS.css" />
        <link rel="stylesheet" type="text/css" href="../public/CSS/About_CSS.css" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    </head>
    
    <body id="body-start">
        <%- include("./partials/header") -%>
        <!-- About start -->
        <div class="about-section">
            <h1>About Us Page</h1>
            <p>Created By: <br>
            Aleck Jasper Lim <br>
            Jonathan Lin <br>
            Felipe Matteo Locsin </p> <br>
            <p>Art Gallery is an E-commerce-inspired website where you have the capability to check out different Arts and able to add them to the cart at the same time delete them in case you do not want them. You are also required to register to be able to login to the browser to be a verified customer/user to buy different types of art.</p>
        </div>
        
        <h2 style="text-align:center">NPM Packages:</h2>
        <div class="about-section">
            <h4>
                - body-parser <br> 
                - connect-flash <br>
                - connect-mongo <br>
                - cookie-parser <br>
                - crypto-js <br>
                - dotenv <br>
                - ejs <br>
                - express <br>
                - express-session <br>
                - express-validator <br>
                - mongoose <br>
                - nodemon <br>
            </h4>
        </div>
        <!-- About end -->
    <%- include("./partials/footer") -%>
    
</html>
