<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" type="text/css" href="../public/CSS/Home_CSS.css" />
        <link rel="stylesheet" type="text/css" href="../public/CSS/About_CSS.css" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    </head>
    
    <body id="body-start">
        <%- include("./partials/header") -%>
        <!-- About start -->
        <div class="about-section">
            <br><h1 class="title">Atrium&nbsp;&nbsp;-&nbsp;&nbsp;/ˈeɪtrɪəm/</h1> <br><br>
            <h2>noun. an open-roofed entrance hall or central court in an ancient Roman house. a skylit central court in a contemporary building or house.</h2> <br><br><br><br><br><br>
            <p>The Atrium Art Gallery is an E-commerce-inspired website where you have the capability to view and observe different Artworks from all over the horizon and able to add them to your own cart, as well as delete and removing others in case you have any second thoughts. To partake in the Atrium Experience™, one is required to register to be able to login to the browser to be a verified customer/user to buy different types of artworks and indulge with fellow art connoisseurs.</p> <br><br><br><br><br><br>
            <p class="created-by">Created, Curated and Cared For By:</p><br>
            <p>Aleck Jasper Lim&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jonathan Lin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Felipe Matteo Locsin </p> <br><br><br><br><br><br><br>
        </div>

        <div class="about-section">
            <h2>Credits: NPM Packages</h2>
            <h4>
                - body-parser <br> 
                - connect-flash <br>
                - connect-mongo <br>
                - cookie-parser <br>
                - crypto-js <br>
                - dotenv <br>
                - ejs <br>
                - express <br>
                - express-session <br>
                - express-validator <br>
                - mongoose <br>
                - nodemon <br>
            </h4>
        </div>
        <!-- About end -->
    <%- include("./partials/footer") -%>
    
</html>
