<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" media="all" href="../public/CSS/login_register_CSS.css">
        <title>Create an Account: ATRIUM</title>
    </head>

    <header class="login-header">
        <div class="header-container">
            <nav class="header-content">
                <a href="#" class="login-image"><img class="header-logo" src="../public/Images/Menu IMG/logo.png" alt="logo" style="width: 60px;"></a>            
            </nav>
        </div>
    </header>

    <body>
        <h1>Welcome to ATRIUM</h1>
        <h2>Be the New Kid on the Block</h2><br><br><br><br><br> 

        <div class="login-proper">
            <div>
                <form class="form-type" action="/createaccount" method="post">
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="emailInpu" aria-describedby="emailHelp" placeholder="Enter your email | claude.monet@gmail.com" name="email" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="firstNameInput" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="firstNameInput" placeholder="Enter your first name | Virgil" name="firstName" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastNameInput" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastNameInput" placeholder="Enter your last name | Abloh" name="lastName" required>
                    </div>
                    <div class="mb-3">
                        <label for="usernameInput" class="form-label">Username</label>
                        <input type="text" class="form-control" id="usernameInput" placeholder="Enter your username | c.dior44" name="userName" required>
                    </div>
                    <div class="mb-3">
                      <label for="passwordInput" class="form-label">Password</label>
                      <input type="password" class="form-control" id="passwordInput" placeholder="Enter your password" name="password" required>
                    </div>
                    <div class="mb-3">
                      <label for="genderInput" class="form-label">Gender</label>
                      <input type="text" class="form-control" id="genderInput" placeholder="Enter your Gender | All Genders are Welcome" name="gender" required>
                    </div>
                    <div class="mb-3">
                      <label for="locationInput" class="form-label">Location</label>
                      <input type="text" class="form-control" id="locationInput" placeholder="Enter your location | Vaudeville" name="location" required>
                    </div>
                    <div>
                        <label for="myfile">What's your profile picture?</label>
                        <input type="file" id="myfile" name="profilePic" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>