<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" media="all" href="../public/CSS/login_register_CSS.css">
        <title>ATRIUM</title>
    </head>

    <header class="login-header">
        <div class="header-container">
            <nav class="header-content">
                <a href="#" class="login-image"><img class="header-logo" src="../public/Images/Menu IMG/logo.png" alt="logo" style="width: 60px;"></a>            
            </nav>
        </div>
    </header>

    <body>
        <h1>ATRIUM</h1>
        <h2>Art for Everyone</h2><br><br><br><br><br> 
        
        <div class="login-proper">
            <div class="form">
                
                <form action="/verify" method="POST">
                    <br>
                    <% if(errorMsg) { %>    
                        <p style="font-size:140%; color:red"><b> <%= errorMsg %> </b></p>
                    <% } %>
                    <br>
                    <label for="username">Username</label><br>
                    <input type="text" id="fname" name="username"><br><br>
                    <label for="password">Password</label><br>
                    <input type="password" id="lname" name="password"><br><br>
                    <input class="button" type="submit" value="Log In">
                    <br><br>
                </form>
            </div>

            <p>Don't have an account? <br><a href="/Register">Create one</a></p><br>
        </div>
    </body>
</html>