<!DOCTYPE html>
<html>
    <head>
        <title>User Settings</title>
        <link rel="stylesheet" href="../public/CSS/Profile_CSS.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="../public/CSS/Home_CSS.css" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    </head>
    
    <body id="body-start">
        <%- include("header") -%>

        
        <!-- profile end -->
    <%- include("footer") -%>
    <script type="text/javascript" src="../public/Javascript/ProfileJS.js"></script>
    
</html>